<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControladorMovil</servlet-name>
        <servlet-class>controlador.ControladorMovil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorPagarCuentas</servlet-name>
        <servlet-class>ControladorPagarCuentas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorPagarC</servlet-name>
        <servlet-class>controlador.ControladorPagarC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorBoucher</servlet-name>
        <servlet-class>controlador.ControladorBoucher</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorMovil</servlet-name>
        <url-pattern>/ControladorMovil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorPagarCuentas</servlet-name>
        <url-pattern>/ControladorPagarCuentas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorPagarC</servlet-name>
        <url-pattern>/ControladorPagarC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorBoucher</servlet-name>
        <url-pattern>/ControladorBoucher</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
