/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-dic-2017, 16:01:33
    Author     : benja
*/

html, body {
    height: 100%;
    background: #0089ec;
}

#oculto {
    display:none;
}

